<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- 靜態寫法：在資料夾static/css/main.css 要這樣創建資料夾-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">

</head>

<body>
    <h1 class=" title">歡迎光臨，這是會員頁</h1>
    <div class="login-system">
        <h2>{{name}}，歡迎登入系統</h2>
        <a href="/signout">登出系統</a>
    </div>
    <hr>
    <!-- <form action="/check"> -->
    <div class="check-system">
        <h2>查詢會員姓名</h2>
        <div class="check">
            <input type="text" id="check" value="1105" />
        </div>
        <input type="submit" value="查詢" onclick="submit()" />
        <h3 id="resultText"></h3>
    </div>
    <!-- </form> -->




    <script>
        function submit() {
            let check = document.getElementById("check").value;
            let data = { check }

            fetch(`http://127.0.0.1:3000/api/member?username=${check}`, data).then(function (response) { return response.json(); }).then(function (data) {
                let memberName = data.data.name;  // 獲得會員姓名
                let memberUsername = data.data.username;  // 獲得會員帳號


                document.getElementById("resultText").innerHTML = memberName + '(' + memberUsername + ')'
            })
        }


    </script>
</body>

</html>